# Add files here to ignore them from prettier formatting
/dist
/coverage
/example-app/node_modules
/example-app/public
/example-app/.cache

/apps/example-app/node_modules
/apps/example-app/public
/apps/example-app/.cache
